* {
  padding: 1px;
  margin: 0px;
}

.titleBlock {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.pallet{
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.color {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-color: black;
  border: 1px;
  border-style: solid;
  box-sizing: border-box;
}

.pixel {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-color: black;
  border: 1px;
  border-style: solid;
  box-sizing: border-box;
}
